<div class="flex flex-col rounded-xl bg-background gap-4 w-full">
  @if(form.controls.active!.value) {
    <div class="flex flex-col gap-2 w-full">
      <div class="flex flex-row gap-2 w-full items-center">
        <span class="w-36 md:w-48">Default Project</span>
        <div class="flex flex-row items-center gap-2">
          <dropdown [options]="jiraProjects()"
                    [showLabel]="false"
                    [selected]="form.controls.projectKey!.value"
                    (selectedChange)="onChangeProject($event)">
            <span dropdown-label class="font-semibold text-xs">Select</span>
          </dropdown>
          <div class="flex items-center cursor-pointer px-4 py-2 rounded bg-background border border-border"
               (click)="onReload()">
            <ng-icon name="arrowPath" [ngClass]="{'animate-spin': loading}"></ng-icon>
          </div>
        </div>
      </div>
      <div class="flex flex-row gap-2 w-full items-center">
        <span class="w-36 md:w-48">Issue Type</span>
        <div class="flex flex-row items-center gap-2">
          <dropdown [options]="issueTypes()"
                    [showLabel]="false"
                    [loading]="loadingIssueType"
                    [selected]="form.controls.issueType!.value"
                    (selectedChange)="onChangeIssueType($event)">
            <span dropdown-label class="font-semibold text-xs">Select</span>
          </dropdown>
        </div>
      </div>
    </div>
  } @else {
    <div>Not yet integrated with Jira. Go to <a routerLink="/setting/integration" class="font-semibold text-primary">Setting > Integration</a> to configure Jira first.</div>
  }
  <div class="flex flex-row gap-2 items-center">
    <button app-button type="primary" class="w-fit" [loading]="form.disabled" (click)="saveJiraSetting()">Update</button>
  </div>
</div>
