<div class="flex flex-col gap-4 w-full">
  <div class="flex flex-col border-b border-border pb-4 gap-4">
    <div class="flex flex-row items-center w-full gap-2">
      <finding-severity [severity]="finding.severity!"></finding-severity>
      <div class="text-xl">{{ finding.name }}</div>
    </div>
    <div class="flex flex-row items-center justify-between">
      <div class="flex flex-row items-center gap-4">
        <div class="flex flex-wrap items-center gap-2">
          <span class="font-semibold whitespace-nowrap">On {{ finding.scans?.length }} branch</span>
          <finding-scan-dropdown
            [options]="finding.scans ?? []"
            (selectChange)="onScanChange($event)"
            [selected]="currentScan?.scanId">
          </finding-scan-dropdown>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <ng-icon [name]="finding.project?.sourceType! | lowercase"></ng-icon>
          <a [routerLink]="['/project', finding.project?.id, 'scan']"
             class="hover:underline">{{ finding.project?.name }}</a>
        </div>
      </div>
      @if (minimal) {
        <div class="flex-row gap-2 items-center hidden lg:flex">
          <a [routerLink]="['/finding', finding.id]">
            <ng-icon name="arrowsPointingOut" size="18" class="cursor-pointer"></ng-icon>
          </a>
          <div class="shrink-0 bg-border w-[1px] h-5 text-muted"></div>
          <ng-icon
            (click)="closeFinding()"
            name="x" size="18"
            class="cursor-pointer"></ng-icon>
        </div>
      }
    </div>
    <div class="flex flex-row items-center gap-2 text-xs">
      <finding-status
        [status]="finding.status!"
        (statusChange)="onChangeStatus($event)">
      </finding-status>
      @if (finding.fixDeadline || finding.status == FindingStatus.Confirmed) {
        <date-picker [titleTemplate]="datePickerTitle"
                     [editable]="finding.status == FindingStatus.Confirmed"
                     [afterDateTemplate]="afterDateTemplate"
                     [date]="fixDeadline()"
                     [format]="dateFormat"
                     (dateChange)="onChangeFixDeadline($event)">
        </date-picker>
      }
      <ng-template #datePickerTitle>
        <button app-button type="dashed" class="border-primary">Add Deadline</button>
      </ng-template>
      <ng-template #afterDateTemplate>
        <div class="text-white bg-primary rounded px-1">deadline</div>
      </ng-template>

      @if (isSastFinding()){
        <ticket-dropdown [loading]="loadingTicket"
                         [ticket]="ticket()"
                         (onDelete)="deleteTicket()"
                         (onTicket)="createTicket($event)"></ticket-dropdown>
      }
    </div>
  </div>
  <div class="flex gap-4 w-full" [ngClass]="minimal ? 'flex-col' : 'flex-row'">
    <div class="flex flex-col gap-4 w-full border border-border p-4 h-fit">
      @if (finding.location) {
        <div class="flex flex-col gap-2">
          <div class="font-semibold">Found at</div>
          <a [href]="source(finding.location)" target="_blank" class="flex flex-row items-center gap-1">
            <span>{{ finding.location.path }}</span>
            <ng-icon name="arrowTopRightOnSquare"></ng-icon>
          </a>
          @if (finding.location.snippet) {
            <div class="block rounded border border-border bg-background p-2 items-center">
              <div>{{ finding.location.snippet }}</div>
            </div>
          }
        </div>
      }
      @if (finding.description) {
        <div class="flex flex-col gap-2">
          <div class="font-semibold">Description</div>
          <div class="block rounded border border-border bg-background p-2 items-center">
            <div markdown>{{ finding.description }}</div>
          </div>
        </div>
      }
      <div class="flex flex-col gap-2">
        <div class="font-semibold">Recommendation</div>
        @if (finding.recommendation || !recommendationPreview) {
          <markdown-editor
            [(data)]="finding.recommendation!"
            [(preview)]="recommendationPreview"
            [loading]="recommendationLoading"
            previewClass="rounded border border-border bg-background p-2">
          </markdown-editor>
          @if(!recommendationPreview){
            <div class="flex flex-row items-center gap-2">
              <button app-button type="primary" (click)="saveRecommendation()">Save</button>
              <button app-button type="default" (click)="recommendationPreview = true">Cancel</button>
            </div>
          }
        } @else {
          <button app-button type="dashed" (click)="recommendationPreview = false">Add Recommendation</button>
        }
      </div>

      @if (finding.metadata && finding.metadata.cwes) {
        <div class="flex flex-col gap-2">
          <div class="font-semibold">CWEs</div>
          <ul class="list-disc">
            @for (cwe of finding.metadata.cwes; track $index) {
              <li class="ml-4">{{ cwe }}</li>
            }
          </ul>
        </div>
      }
      @if (finding.metadata && finding.metadata.references) {
        <div class="flex flex-col gap-2">
          <div class="font-semibold">References</div>
          <ul class="list-disc">
            @for (reference of finding.metadata.references; track $index) {
              <li class="ml-4" markdown>{{ reference }}</li>
            }
          </ul>
        </div>
      }

      @if (findingFlow(finding).length > 0) {
        <div class="flex flex-col gap-2">
          <div class="font-semibold">Finding Flow</div>
          <div class="flex flex-col justify-between items-center">
            @for (location of findingFlow(finding); track $index; let isLast = $last) {
              <a class="flex items-center justify-center bg-blue-100 px-2 py-1 dark:bg-blue-900 cursor-pointer"
                 target="_blank" [href]="source(location)">
                {{ location.snippet }}
              </a>
              @if (!isLast) {
                <div class="bg-primary w-0.5 h-10"></div>
              }
            }
          </div>
        </div>
      }
    </div>
    <!--    ACTIVITIES-->
    <div class="flex flex-col gap-2"
         [ngClass]="minimal ? '' : 'min-w-[550px] max-w-[600px]'">
      <div class="flex flex-col rounded border border-border p-4 gap-2">
        <div class="font-semibold">Activity</div>
        <div class="flex flex-col overflow-y-auto h-full max-h-screen">
          <ol class="relative border-s border-border ml-5">
            <li class="mt-10 ms-6">
              <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 dark:bg-blue-900">
                <ng-icon name="plusCircle" size="20"></ng-icon>
              </span>
              <div class="flex flex-row items-center justify-between gap-2 mb-1">
                <div class="flex flex-col w-full gap-2">
                  <textarea [(ngModel)]="comment"></textarea>
                  <div class="flex flex-row gap-2 items-center justify-end">
                    <button app-button type="default" (click)="comment = ''">Cancel</button>
                    <button app-button type="primary"
                            [loading]="commentLoading"
                            [disabled]="commentLoading"
                            (click)="postComment()">Comment
                    </button>
                  </div>
                </div>
              </div>
            </li>

            @for (activity of activities; track $index) {
              <finding-activity [activity]="activity"></finding-activity>
            }
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
