<!--NAV-->
<div class="bg-background z-10 px-4">
  <ul class="flex flex-wrap items-center">
    @for (item of navItems; track $index) {
      <a class="cursor-pointer mr-3" [routerLink]="routerLink(item.route)">
        <div class="flex items-center mx-1">
          <div class="flex flex-row space-x-2 items-center px-2 py-2 text-muted-foreground text-xs font-semibold"
               routerLinkActive="border-b-2 border-b-primary text-primary" [routerLinkActiveOptions]="{exact: false}">
            <ng-icon [name]="item.icon" size="16" class=""></ng-icon>
            <span class="tracking-wide px-2 py-1 focus:outline-none group-hover:text-foreground">{{ item.label }}</span>

          </div>
        </div>
      </a>
    }
  </ul>
</div>
<!--END NAV-->
<div class="mx-auto px-2 lg:px-6 flex flex-col " >
  <router-outlet></router-outlet>
</div>

