<p-timeline [value]="activities">
  <ng-template #marker let-activity>
    <span class=" flex items-center justify-center w-8 h-8 bg-blue-100 rounded-full dark:bg-blue-900">
      <i [ngClass]="activityIcon(activity.type)"></i>
    </span>
  </ng-template>
  <ng-template #content let-activity>
    <p-panel styleClass="mb-4">
      <ng-template #header>
        @if (activity.username) {
          <div class="flex items-center gap-2">
            <p-avatar
              shape="circle"
              size="normal"
              [image]="activity.avatar"
              [label]="activity.username | firstChar:'U' | uppercase">
            </p-avatar>
            <span class="font-bold">{{activity.username}}</span>
          </div>
        } @else {
          <span class="font-bold">System</span>
        }
      </ng-template>
      <ng-template #icons>
        <time class="block text-sm" [pTooltip]="activity.createdAt">{{ activity.createdAt | timeago }}</time>
      </ng-template>
      <div class="flex flex-row items-center gap-2">
        @switch (activity.type) {
          @case (FindingActivityType.ChangeStatus) {
            <span>Change status</span>
            <div class="flex flex-row items-center gap-2">
              <div class="flex flex-row items-center gap-2 ">
                <finding-status-label class="border border-surface rounded px-3 py-1"
                                      [status]="activity.metadata?.changeStatus?.previousStatus!">
                </finding-status-label>
                <span>to</span>
                <finding-status-label class="border border-surface rounded px-3 py-1"
                                      [status]="activity.metadata?.changeStatus?.currentStatus!">
                </finding-status-label>
              </div>
            </div>
          }
          @case (FindingActivityType.ChangeDeadline) {
            <span>Change SLA</span>
            <div class="flex flex-row items-center gap-2">
              @if (activity.metadata?.changeDeadline?.previousDate) {
                <div class="flex text-nowrap border border-surface px-3 py-1 rounded">
                  {{ parseDate(activity.metadata?.changeDeadline?.previousDate) | date : 'dd/MM/yyyy' }}
                </div>
              }
              <span>to</span>
              <div class="flex text-nowrap border border-surface px-3 py-1 rounded">
                {{ parseDate(activity.metadata?.changeDeadline?.currentDate) | date : 'dd/MM/yyyy' }}
              </div>
            </div>
          }
          @case (FindingActivityType.Open) {
            <span>first seen</span>
          }
          @case (FindingActivityType.Fixed) {
            <finding-status-label [status]="FindingStatus.Fixed"></finding-status-label>
          }
          @case (FindingActivityType.Reopen) {
            <span>seen again</span>
          }
        }
        @if (activity.metadata?.scanInfo) {
          <span>on</span>
          <scan-branch-label [action]="activity.metadata?.scanInfo?.action ?? GitAction.CommitBranch"
                       [branch]="activity.metadata?.scanInfo?.branch ?? ''"
                       [targetBranch]="activity.metadata?.scanInfo?.targetBranch">
          </scan-branch-label>
        }
      </div>
      @if (activity.comment) {
        <markdown [data]="activity.comment"></markdown>
      }
    </p-panel>
  </ng-template>
</p-timeline>
