<li class="mt-10 ms-6">
  @if (activity.username) {
    <div class="absolute -start-5">
      <avatar [text]="activity.username"
              [size]="38"
              [src]="activity.avatar ?? undefined">
      </avatar>
    </div>
  } @else {
    <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 dark:bg-blue-900">
      <ng-icon [name]="activity.type == FindingActivityType.Open ? 'heroClock' : activity.type == FindingActivityType.ChangeStatus ? 'dotDashCircle' : 'dotDashCircle'"></ng-icon>
    </span>
  }
  <div class="flex flex-row items-center justify-between gap-2 mb-1">
    <div class="flex flex-row items-center gap-2">
      @if (activity.username) {
        <span class="font-semibold">{{ activity.username }}</span>
      } @else {
        <span class="font-semibold">system</span>
      }
    </div>
    <time class="block text-xs" [tooltip]="activity.createdAt">{{ activity.createdAt | timeago }}</time>
  </div>
  <div class="flex flex-row items-center gap-2">
    @switch (activity.type) {
      @case (FindingActivityType.ChangeStatus) {
        <span>change status</span>
        <div class="flex flex-row items-center gap-2">
          <div class="flex flex-row items-center gap-2">
            <finding-status-label [ngClass]="'px-1 py-0.5 border border-border'"
                                  [status]="activity.metadata?.changeStatus?.previousStatus">
            </finding-status-label>
            <span>to</span>
            <finding-status-label [ngClass]="'px-1 py-0.5 border border-border'"
                                  [status]="activity.metadata?.changeStatus?.currentStatus">
            </finding-status-label>
          </div>
        </div>
      }
      @case (FindingActivityType.ChangeDeadline) {
        <span>change fix deadline</span>
        <div class="flex flex-row items-center gap-2 text-xs">
          @if (activity.metadata?.changeDeadline?.previousDate) {
            <div class="flex text-nowrap border border-border px-2 py-1 rounded-md">
              {{ parseDate(activity.metadata?.changeDeadline?.previousDate) | date : 'dd/MM/yyyy' }}
            </div>
          }
          <span>to</span>
          <div class="flex text-nowrap border border-border px-2 py-1 rounded-md">
            {{ parseDate(activity.metadata?.changeDeadline?.currentDate) | date : 'dd/MM/yyyy' }}
          </div>
        </div>
      }
      @case (FindingActivityType.Open) {
        <span>first seen</span>
      }
      @case (FindingActivityType.Fixed) {
        <finding-status-label [status]="FindingStatus.Fixed"></finding-status-label>
      }
      @case (FindingActivityType.Reopen) {
        <span>seen again</span>
      }
    }
    @if (activity.metadata?.scanInfo) {
      <span>on</span>
      <scan-branch [action]="activity.metadata?.scanInfo?.action ?? GitAction.CommitBranch"
                   [branch]="activity.metadata?.scanInfo?.branch ?? ''"
                   [targetBranch]="activity.metadata?.scanInfo?.targetBranch">
      </scan-branch>
    }
  </div>
  @if (activity.comment) {
    <p>{{ activity.comment }}</p>
  }
</li>
