<div class="mx-auto px-2 lg:px-6 flex flex-row pt-6 text-sm gap-4 w-full">
  <div class="flex flex-col w-full">
    <div class="flex flex-wrap w-full p-4 gap-2 items-center justify-between border border-border bg-background">
      <div class="flex flex-row items-center gap-2">
        <!--SEARCH-->
        <div class="flex w-full md:max-w-80 text-xs">
          <label class="relative text-muted-foreground w-full">
            <div class="absolute left-2.5 top-2.5">
              <ng-icon name="heroMagnifyingGlass"></ng-icon>
            </div>
            <input class="py-2 pl-8 pr-2"
                   placeholder="Search..." type="text"
                   [(ngModel)]="store.filter.name"
                   (keyup.enter)="onSearchChange()"/>
          </label>
        </div>
        <!--Branch Filter-->
        <dropdown [showSearch]="true"
                  [showMaxOption]="1"
                  [options]="store.commits()"
                  [selected]="store.filter.commitId"
                  (selectedChange)="onSelectScan($event)"
                  [optionTemplate]="optionBranchTemplate">
          <span class="font-semibold" dropdown-label>Branch</span>
        </dropdown>
        <ng-template #optionBranchTemplate let-option>
          <scan-branch [action]="option.action"
                       [branch]="option.branch"
                       [targetBranch]="option.targetBranch"></scan-branch>
        </ng-template>
        <!--Status Filter-->
        <dropdown [showSearch]="false"
                  [showMaxOption]="1"
                  [options]="statusOptions"
                  mode="multiple"
                  [selected]="store.filter.status"
                  (selectedChange)="onStatusChange($event)"
                  [optionTemplate]="optionStatusTemplate">
          <span class="font-semibold" dropdown-label>Status</span>
        </dropdown>
        <ng-template #optionStatusTemplate let-option>
          <finding-status-label
            [status]="option.value"
            [defaultLabel]="option.label">
          </finding-status-label>
        </ng-template>
        <!--Scanner Filter-->
        <dropdown [showSearch]="false"
                  [showMaxOption]="1"
                  [options]="store.scanners()"
                  mode="multiple"
                  [selected]="store.filter.scanner"
                  (selectedChange)="onChangeScanner($event)"
                  [optionTemplate]="optionScannerTemplate">
          <span class="font-semibold" dropdown-label>Scanner</span>
        </dropdown>
        <ng-template #optionScannerTemplate let-option>
          <scanner-label
            [scanner]="option.name"
            [type]="option.type">
          </scanner-label>
        </ng-template>
        <div class="flex flex-row gap-2 items-center">
          <dropdown [options]="sortOptions"
                    [showSearch]="false"
                    [selected]="store.filter.sortBy"
                    (selectedChange)="onSortChange($event)">
            <div dropdown-label class="font-semibold">Sort By</div>
          </dropdown>
          <ng-icon [name]="store.filter.desc ? 'desc' : 'asc'" class="cursor-pointer" size="16"
                   (click)="onOrderChange()"></ng-icon>
        </div>
      </div>
      <div class="flex flex-row items-center gap-2">
        <div class="flex items-center cursor-pointer px-4 py-2 rounded bg-background border border-border"
             (click)="onReload()">
          <ng-icon name="arrowPath"></ng-icon>
        </div>
        <finding-status [fixedLabel]="'Mark as'" (statusChange)="onMarkAs($event)"></finding-status>
      </div>
    </div>
    <list-finding class="w-full max-h-screen overflow-y-auto"
                  [loading]="store.loading()"
                  [findings]="store.findings()"
                  (selectFindings)="selectFindingsChange($event)"
                  (openFinding)="onOpenFinding($event)">
    </list-finding>
    <pagination class="sticky bottom-0"
                (pageChange)="onPageChange($event)"
                [currentPage]="store.currentPage()"
                [totalPage]="store.totalPage()">
    </pagination>
  </div>
  <div class="hidden lg:block w-[800px] overflow-x-auto">
    @if (finding != null) {
      <finding-detail
        [isProjectPage]="true"
        (close)="closeFinding()"
        [finding]="finding">
      </finding-detail>
    } @else {
      <div class="flex flex-col items-center justify-center h-[720px] w-full">
        @if (loadingFinding) {
          <ng-icon name="spin" class="animate-spin" size="24"></ng-icon>
        } @else {
          <ng-icon name="cursorArrowRays" size="24"></ng-icon>
          <div>Select vulnerability to see its details.</div>
        }
      </div>
    }
  </div>
</div>
