<div class="mb-2">
  <range-date [type]="rangeDate.type" (onChange)="onRangeDateChange($event)"></range-date>
</div>
<p-fluid class="grid grid-cols-12 gap-4">
  <!--  SAST-->
  <div class="col-span-12">
    <div class="text-xl font-semibold">Static Application Security Testing (SAST)</div>
  </div>
  <div class="col-span-12 xl:col-span-3 md:col-span-6 min-w-96">
    <p-card styleClass="h-full">
      <severity-chart [severity]="sastSeverity()"></severity-chart>
    </p-card>
  </div>
  <div class="col-span-12 xl:col-span-3 md:col-span-6 min-w-96">
    <p-card styleClass="h-full">
      <finding-status-chart [status]="sastStatus()"></finding-status-chart>
    </p-card>
  </div>
  <div class="col-span-12 xl:col-span-6">
    <p-card styleClass="h-full">
      <top-finding-chart class="" [categories]="topFindings()"></top-finding-chart>
    </p-card>
  </div>
  <!--  SCA-->
  <div class="col-span-12">
    <div class="text-xl font-semibold">Software Composition Analysis (SCA)</div>
  </div>
  <div class="col-span-12 xl:col-span-3 md:col-span-6 min-w-96">
    <p-card styleClass="h-full">
      <severity-chart [severity]="scaSeverity()"></severity-chart>
    </p-card>
  </div>
  <div class="col-span-12 xl:col-span-3 md:col-span-6 min-w-96">
    <p-card styleClass="h-full">
      <finding-status-chart [status]="scaStatus()"></finding-status-chart>
    </p-card>
  </div>
  <div class="col-span-12 xl:col-span-6">
    <p-card styleClass="h-full">
      <top-dependency-chart [dependencies]="topDependencies()"></top-dependency-chart>
    </p-card>
  </div>
</p-fluid>
