<div width="100%" style="margin:0;background-color:#f6f7fb; font-family: Helvetica, sans-serif, 'Times New Roman'">
    <div style="padding:0;overflow:hidden;width:100%;max-width:100%">
        <table role="presentation" cellspacing="0" cellpadding="0"
               border="0" align="center" width="100%" style="margin:auto">
            <tbody>
            <tr>
                <td align="center" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" style="background-color:#fff;margin:15px">
                        <tbody>
                        <tr>
                            <td align="center" valign="top">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width:600px">
                                    <tbody>
                                    <tr style="padding-bottom:5px;background:#461d9f;background:linear-gradient(to right,#7530a6 0%,#461d9f 50%)">
                                        <td align="left" valign="top">
                                            <div style="font-weight:bold; color: white; padding: 24px; text-transform: uppercase;">Dependency Report</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top" style="padding:25px 25px">
                                            <h2 style="text-align:center;font-size:22px;margin:0 0 5px 0;font-weight:normal;line-height:1.1">
                                                <a style="color:#3777b0;text-decoration:none" href="{{RepoUrl}}" target="_blank">{{RepoName}}</a>
                                            </h2>
                                            <div style="margin-bottom:35px">
                                                <h2 style="font-size:22px;margin-top:22px;margin-bottom:10px;font-weight:normal;">
                                                    Summary
                                                </h2>
                                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;table-layout:fixed;margin:10px 0 0 0;font-size:15px">
                                                    <tbody>
                                                    <tr>
                                                        <td valign="top"
                                                            style="padding:2%;border:1px solid #c5c5c5;border-right-width:0;width:50%">
                                                            <table style="width:100%">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="padding:0;margin:0;line-height:1.1">
                                                                        {% assign total = Critical | plus: High | plus: Medium | plus: Low %}
                                                                        <center style="font-size:30px;text-align:center;display:block;margin-bottom:0;font-weight:normal">
                                                                            {{ total }}
                                                                        </center>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <center style="margin-bottom:8px;line-height:1.1">
                                                                            known vulnerabilities
                                                                        </center>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                            <center>
                                                                <table>
                                                                    <tbody>
                                                                    <tr>
                                                                        <td>
                                                                            <table style="font-size:15px;text-align:center;line-height:1;margin:0 3px">
                                                                                <tbody>
                                                                                <tr style="color:#737373">
                                                                                    <td style="border:1px solid #ab1a1a;background-color:#fff;width:30px;color:#000">
                                                                                        {{Critical}}
                                                                                    </td>
                                                                                    <td style="border:1px solid #ab1a1a;background-color:#ab1a1a;width:20px;color:#fff">
                                                                                        C
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                        <td>
                                                                            <table style="font-size:15px;text-align:center;line-height:1;margin:0 3px">
                                                                                <tbody>
                                                                                <tr style="color:#737373">
                                                                                    <td style="border:1px solid #ce5019;background-color:#fff;width:30px;color:#000">
                                                                                        {{High}}
                                                                                    </td>
                                                                                    <td style="border:1px solid #ce5019;background-color:#ce5019;width:20px;color:#fff">
                                                                                        H
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                        <td>
                                                                            <table style="font-size:15px;text-align:center;line-height:1;margin:0 3px">
                                                                                <tbody>
                                                                                <tr style="color:#737373">
                                                                                    <td style="border:1px solid #d68000;background-color:#fff;width:30px;color:#000">
                                                                                        {{ Medium }}
                                                                                    </td>
                                                                                    <td style="border:1px solid #d68000;background-color:#d68000;width:20px;color:#fff">
                                                                                        M
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                        <td>
                                                                            <table style="font-size:15px;text-align:center;line-height:1;margin:0 3px">
                                                                                <tbody>
                                                                                <tr style="color:#737373">
                                                                                    <td style="border:1px solid #88879e;background-color:#fff;width:30px;color:#000">
                                                                                        {{Low}}
                                                                                    </td>
                                                                                    <td style="border:1px solid #88879e;background-color:#88879e;width:20px;color:#fff">
                                                                                        L
                                                                                    </td>
                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    </tbody>
                                                                </table>
                                                            </center>
                                                        </td>
                                                        <td valign="middle"
                                                            style="text-align:center;padding:2%;border:1px solid #c5c5c5;width:50%">
                                                            <table style="width:100%">
                                                                <tbody>
                                                                <tr>
                                                                    <td style="padding:0;margin:0;line-height:1.1">
                                                                        <center style="font-size:30px;text-align:center;display:block;margin-bottom:0;font-weight:normal">
                                                                            {{Packages.size}}
                                                                        </center>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <center style="margin-bottom:8px;line-height:1.1">
                                                                            total packages
                                                                        </center>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2" style="padding:2%;border:0px solid #c5c5c5;border-top-width:0">
                                                            <div style="padding:0;margin:0;line-height:1.1;font-size:15px; white-space: nowrap;">
                                                                <a href="{{ProjectDependencyUrl}}"
                                                                   style="background-color:#148888;background-image:linear-gradient(-180deg,#148888 0,#096969 100%);border-radius:0;font-size:14px;color:#fff;text-decoration:none;display:block;float:right"
                                                                   target="_blank">
                                                                    <span style="margin:8px 16px;display:block">View on Dashboard</span>
                                                                </a>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div style="margin-bottom:20px">
                                                <h2 style="font-size:22px;margin-top:28px;margin-bottom:10px;font-weight:normal;">
                                                    Packages
                                                </h2>
                                                <table style="width:100%">
                                                    <tbody>
                                                    <tr>
                                                        <td>
                                                            <table border="1" cellpadding="0" cellspacing="0" width="100%"
                                                                   style="margin-bottom:15px;padding-bottom:5px;border:1px solid #c5c5c5;border-collapse: collapse;font-family:Helvetica,Arial,sans-serif">
                                                                <tbody style="padding: 10px">
                                                                <tr valign="top" style="font-weight: bold">
                                                                    <td width="45" style="padding:5px">
                                                                        Package
                                                                    </td>
                                                                    <td style="padding:5px">
                                                                        Recommendation
                                                                    </td>
                                                                </tr>
                                                                {% for package in Packages %}
                                                                <tr valign="top">
                                                                    <td style="padding:5px">
                                                                        <table>
                                                                            <tr>
                                                                                <td>
                                                                                    {% assign color = "#22C55E" %}
                                                                                    {% assign label = "N" %}
                                                                                    {% case package.Impact %}
                                                                                    {% when "Critical" %}
                                                                                        {% assign color = "#ab1a1a" %}
                                                                                        {% assign label = "C" %}
                                                                                    {% when "High" %}
                                                                                        {% assign color = "#ce5019" %}
                                                                                        {% assign label = "H" %}
                                                                                    {% when "Medium" %}
                                                                                        {% assign color = "#d68000" %}
                                                                                        {% assign label = "M" %}
                                                                                    {% when "Low" %}
                                                                                        {% assign color = "#88879e" %}
                                                                                        {% assign label = "L" %}
                                                                                    {% else %}
                                                                                        {% assign color = "#22C55E" %}
                                                                                        {% assign label = "N" %}
                                                                                    {% endcase %}
                                                                                    <div style="background-color:{{ color }};color:#fff;display:block;text-align:center;width:30px">
                                                                                        {{label}}
                                                                                    </div>
                                                                                </td>
                                                                                <td style="white-space: nowrap">
                                                                                    <span style="font-weight:normal;font-size:16px">
                                                                                        {{package.Name}}
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td></td>
                                                                                <td style="font-size:14px;display:block; ">
                                                                                    {{package.Location}}
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                    <td style="padding:5px">
                                                                        <span style="font-weight:normal;font-size:16px">
                                                                            {{package.Recommendation}}
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="100%"
           style="background:#f6f7fb;color:#000;font-size:15px;line-height:140%;text-align:center;max-width:600px">
        <tbody>
        <tr>
            <td style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:13px;line-height:1.6;color:#5c5c5c;padding:25px 0">
                <div>
                    You're receiving this email because of your account on
                    <a href="{{FrontendUrl}}"
                       style="color:#3777b0;text-decoration:none"
                       target="_blank">Code Secure</a>
                </div>
            </td>
        </tr>
        <tr>
            <td style="font-family:&quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif;font-size:13px;line-height:1.6;color:#5c5c5c;padding:25px 0"></td>
        </tr>
        </tbody>
    </table>
</div>