<div class="flex flex-col h-full pt-4">
  <div class="flex flex-col h-full gap-4">
    <ul class="font-medium flex flex-wrap gap-2">
      <li>
        <a [routerLink]="routerLink('member')"
           class="flex flex-row items-center hover:text-primary hover:bg-card py-2 px-3" routerLinkActive="text-primary bg-card">
          <ng-icon name="users"></ng-icon>
          <span class="flex-1 ml-3 whitespace-nowrap text-sm">Member</span>
        </a>
      </li>
      <li>
        <a [routerLink]="routerLink('threshold')"
           class="flex flex-row items-center hover:text-primary hover:bg-card group py-2 px-3" routerLinkActive="text-primary bg-card">
          <ng-icon name="threshold"></ng-icon>
          <span class="flex-1 ml-3 whitespace-nowrap text-sm">Security Threshold</span>
        </a>
      </li>
    </ul>
    <div class="px-2 lg:px-6 overflow-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
