<div class="flex flex-col items-start">
  <button (click)="hidden = !hidden"
          (clickOutside)="hidden = true"
          class="flex flex-row items-center gap-1 rounded-md px-4 py-2 font-semibold w-fit text-nowrap">
    @if(_status == null) {
      <span>Status</span>
    } @else {
      <finding-status-label [status]="_status"></finding-status-label>
    }
    <ng-icon name="next" class="rotate-90"></ng-icon>
  </button>
  <!-- Dropdown menu -->
  <div [class.hidden]="hidden" class="z-10 absolute mt-10 rounded-lg shadow w-fit border border-border bg-background">
    <ul>
      @for (option of statusOptions; track $index) {
        <li class="flex flex-row items-center justify-between gap-2 px-4 py-2 text-sm border-border space-x-1 hover:bg-card bg-background cursor-pointer"
            [class.bg-card]="_status == option.status"
            (click)="onSelectOption(option)"
        >
          <finding-status-label [status]="option.status"
                                class="font-semibold"
                                [defaultLabel]="'All'" [defaultIcon]="'square'">
          </finding-status-label>
          <div class="border-4 h-4 w-4 rounded-full border-[#6366F1]  bg-background"
               [ngClass]="_status == option.status ? 'border-[#6366F1]' : 'border-border'"></div>
        </li>
      }
    </ul>
  </div>
</div>
