<div class="relative text-xs" (clickOutside)="isCalendarOpen = false">
  <!-- Input Field -->
  <div (click)="toggleCalendar()" class="text-nowrap">
    @if (date){
      <div class="flex flex-row items-center text-nowrap gap-2 border border-border px-3 py-2 rounded-md cursor-pointer">
        <span>
          {{date | date: format}}
        </span>
        @if(afterDateTemplate){
          <ng-container *ngTemplateOutlet="afterDateTemplate"></ng-container>
        }
      </div>
    } @else {
      <ng-container *ngTemplateOutlet="titleTemplate || defaultTemplateTitle"></ng-container>
      <ng-template #defaultTemplateTitle>
        <span class="border border-border px-4 py-2 rounded-md cursor-pointer">Select Date</span>
      </ng-template>
    }
  </div>

  @if (isCalendarOpen) {
    <div class="absolute mt-2 z-50 w-80 flex flex-col bg-background border border-border shadow-lg rounded-xl overflow-hidden">
      <!-- Calendar -->
      <div class="p-3 space-y-0.5">
        <!-- Months -->
        <div class="grid grid-cols-5 items-center gap-x-3 mx-1.5 pb-3">
          <!-- Prev Button -->
          <div class="col-span-1">
            <div (click)="prevMonth()" class="cursor-pointer size-8 flex justify-center items-center rounded-full hover:bg-background" aria-label="Previous">
              <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
            </div>
          </div>
          <!-- End Prev Button -->

          <!-- Month / Year -->
          <div class="col-span-3 flex justify-center items-center gap-x-1 text-base">
            <div>{{ currentMonthName }}</div>
            <span>/</span>
            <div>{{ currentYear }}</div>
          </div>
          <!-- End Month / Year -->

          <!-- Next Button -->
          <div class="col-span-1 flex justify-end">
            <div (click)="nextMonth()" class="cursor-pointer size-8 flex justify-center items-center rounded-full hover:bg-background" aria-label="Next">
              <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
            </div>
          </div>
          <!-- End Next Button -->
        </div>
        <!-- Months -->

        <!-- Weeks -->
        <div class="flex pb-1.5">
          @for (day of daysOfWeek; track $index) {
            <span class="m-px w-10 block text-center text-sm text-gray-500 dark:text-neutral-500">{{ day }}</span>
          }
        </div>
        <!-- Weeks -->
        @for (week of weeks; track $index) {
          <div class="flex">
            @for (date of week; track $index) {
              <div>
                <div
                  [class]="getDayClasses(date)"
                  (click)="selectDate(date)"
                >
                  {{ date.value }}
                </div>
              </div>
            }
          </div>
        }
      </div>
    </div>
  }
</div>
