<p-dialog header="Update User" [modal]="true" [(visible)]="store.showUpdateUserDialog">
  <div class="flex flex-col gap-4 w-[320px] md:w-[480px]">
    <div class="flex flex-col gap-2">
      <div class="flex flex-col gap-1 w-full">
        <span class="font-semibold">User</span>
        <user-info [username]="_user.userName"
                   [avatar]="_user.avatar"
                   [fullName]="_user.fullName"
                   [email]="_user.email">
        </user-info>
      </div>
      <div class="flex flex-col gap-1 w-full">
        <div class="font-semibold">Email</div>
        <input pInputText type="text" name="email" [formControl]="form.controls.email!">
      </div>
      <div class="flex flex-col gap-1 w-full">
        <div class="font-semibold">Role</div>
        <p-select [options]="store.roles()" optionValue="name" optionLabel="name" appendTo="body"
                  [formControl]="form.controls.role!">
        </p-select>
      </div>
      <div class="flex flex-col gap-1 w-full">
        <div class="font-semibold">Status</div>
        <p-select-button [options]="statusOptions"
                         [formControl]="form.controls.status!">
        </p-select-button>
      </div>

    </div>
    <div class="flex flex-row items-center gap-4 justify-end">
      <div class="flex flex-row items-center gap-4 w-fit">
        <p-button severity="secondary" (click)="closeDialog()" label="Cancel"/>
        <p-button severity="primary" label="Update" [loading]="form.disabled" [disabled]="form.disabled"
                  (click)="onUpdateUser()"/>
      </div>
    </div>
  </div>
</p-dialog>

