/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "styles/table";

@layer base {
  :root {
    --background: rgb(255, 255, 255);
    --foreground: rgb(15, 23, 41);
    --card: rgb(241, 245, 249);
    --card-foreground: rgb(0, 0, 0);
    --primary: rgb(226, 29, 72);
    --primary-foreground: rgb(255, 255, 255);
    --muted: rgb(203, 213, 225);
    --muted-foreground: rgb(101, 117, 139);
    --destructive: rgb(204, 0, 34);
    --destructive-foreground: rgb(250, 250, 250);
    --border: rgb(225, 231, 229);
  }

  .dark {
    --background: rgb(9, 9, 11);
    --foreground: rgb(237, 237, 237);
    --card: rgb(20, 20, 20);
    --card-foreground: rgb(38, 38, 38);
    --primary: rgb(226, 29, 72);
    --primary-foreground: rgb(255, 255, 255);
    --muted: rgb(38, 38, 38);
    --muted-foreground: rgb(163, 163, 163);
    --destructive: rgb(204, 0, 34);
    --destructive-foreground: rgb(250, 250, 250);
    --border: rgb(39, 39, 42);
  }

  :root[data-theme='violet'] {
    --primary: rgb(124, 58, 237);
  }

  .dark[data-theme='violet'] {
    --background: rgb(3, 7, 18);
    --foreground: rgb(249, 250, 251);
    --card: rgb(9, 14, 26);
    --card-foreground: rgb(249, 250, 251);
    --primary: rgb(109, 40, 217);
    --primary-foreground: rgb(249, 250, 251);
    --muted: rgb(31, 41, 55);
    --muted-foreground: rgb(156, 163, 175);
    --destructive: rgb(204, 0, 34);
    --destructive-foreground: rgb(249, 250, 251);
    --border: rgb(31, 41, 55);
  }

  :root[data-theme='red'] {
    --primary: rgb(204, 0, 34);
  }

  .dark[data-theme='red'] {
    --primary: rgb(204, 0, 34);
    --primary-foreground: rgb(254, 242, 242);
  }

  :root[data-theme='blue'] {
    --primary: rgb(37, 99, 235);
  }

  .dark[data-theme='blue'] {
    --background: rgb(2, 8, 23);
    --foreground: rgb(248, 250, 252);
    --card: rgb(9, 14, 26);
    --card-foreground: rgb(248, 250, 252);
    --primary: rgb(59, 130, 246);
    --primary-foreground: rgb(15, 23, 42);
    --muted: rgb(30, 41, 59);
    --muted-foreground: rgb(148, 163, 184);
    --destructive: rgb(204, 0, 34);
    --destructive-foreground: rgb(248, 250, 252);
  }

  :root[data-theme='orange'] {
    --primary: rgb(249, 115, 22);
  }

  .dark[data-theme='orange'] {
    --background: rgb(12, 10, 9);
    --foreground: rgb(250, 250, 249);
    --card: rgb(20, 17, 16);
    --card-foreground: rgb(250, 250, 249);
    --primary: rgb(234, 88, 12);
    --primary-foreground: rgb(250, 250, 249);
    --muted: rgb(41, 37, 36);
    --muted-foreground: rgb(168, 162, 158);
    --border: rgb(41, 37, 36);
  }

  :root[data-theme='yellow'] {
    --primary: rgb(250, 204, 21);
  }

  .dark[data-theme='yellow'] {
    --background: rgb(12, 10, 9);
    --foreground: rgb(250, 250, 249);
    --card: rgb(20, 17, 16);
    --card-foreground: rgb(250, 250, 249);
    --primary: rgb(250, 204, 21);
    --primary-foreground: rgb(66, 32, 6);
    --muted: rgb(41, 37, 36);
    --muted-foreground: rgb(168, 162, 158);
    --destructive-foreground: rgb(250, 250, 249);
    --border: rgb(41, 37, 36);
  }

  :root[data-theme='green'] {
    --primary: rgb(22, 163, 74);
  }

  .dark[data-theme='green'] {
    --primary: rgb(34, 197, 94);
    --primary-foreground: rgb(5, 46, 22);
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  button,
  select {
    @apply rounded-md border border-border bg-background text-xs placeholder-muted-foreground focus:z-10 focus:border-primary focus:outline-none focus:ring-primary;
  }

  [type='checkbox'],
  [type='radio'] {
    @apply h-4 w-4 rounded border-border bg-background text-primary focus:ring-2 focus:ring-primary;
  }
}

@layer components {
  .dropdown-content {
    @apply pointer-events-none scale-95 opacity-0 duration-100 ease-in;
  }

  .dropdown:hover > .dropdown-content {
    @apply pointer-events-auto block scale-100 animate-fade-in-up opacity-100 duration-200;
  }
}

/** Scroll bar **/
@supports selector(::-webkit-scrollbar) {
  .supports-scrollbars\: pr-2 {
    padding-right: 0.5rem;
  }
}

body {
  .splash-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111827;
    color: #F9FAFB;
    z-index: 999999;
    pointer-events: none;
    opacity: 1;
    visibility: visible;
    transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);

    img {
      width: 120px;
      max-width: 120px;
    }

    .spinner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;
      width: 56px;

      > div {
        width: 12px;
        height: 12px;
        background-color: #1E96F7;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: bouncedelay 1s infinite ease-in-out both;
        animation: bouncedelay 1s infinite ease-in-out both;
      }

      .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
      }

      .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
      }
    }
  }

  &.splash-screen-hidden {
    .splash-screen {
      visibility: hidden;
      opacity: 0;
    }
  }

  &:not(.splash-screen-hidden) {
    overflow: hidden;
  }
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
  }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
