<div class="mx-auto px-2 lg:px-6 flex flex-col pt-6 text-sm">
  <div class="font-semibold text-foreground mb-2 ml-1 text-xl">User Manager</div>
  <div class="flex min-w-full flex-col rounded-xl border border-border bg-background">
    <!--    FILTER-->
    <div class="flex flex-col py-3 px-5">
      <div class="flex flex-wrap md:flex-row items-center justify-between gap-2">
        <div class="flex flex-row gap-2">
          <div class="flex w-full md:max-w-80">
            <label class="relative text-muted-foreground w-full">
              <div class="absolute left-2.5 top-2.5">
                <ng-icon name="search"></ng-icon>
              </div>
              <input class="py-2 pl-8 pr-2 w-full" placeholder="Search..." type="text"
                     [(ngModel)]="store.filter.name"
                     (keyup.enter)="onSearchChange()"/>
            </label>
          </div>
          <div class="flex flex-row space-x-2 items-center">
            <dropdown [options]="sorts"
                      (selectedChange)="onSortChange($event)"
                      [selected]="store.filter.sortBy">
              <span dropdown-label class="font-semibold">Sort By</span>
            </dropdown>
            <ng-icon [name]="store.filter.desc ? 'desc' : 'asc'" class="cursor-pointer" size="16" (click)="onOrderChange()"></ng-icon>
          </div>
        </div>
        <div class="flex flex-row items-center gap-2">
          <button app-button type="primary" (click)="addUser()">Add User</button>
        </div>
      </div>
      <div class="mt-3 px-1 py-1 whitespace-nowrap">Displaying {{store.users().length}} in <span class="font-bold">{{ store.count() }}</span> results</div>
    </div>
    <!--    TABLE-->
    <div class="overflow-x-auto">
      <table
        class="table w-full table-auto border-collapse border-0 text-left align-middle leading-5 text-muted-foreground">
        <thead class="border-t border-border text-xs text-muted-foreground">
        <tr>
          <th class="w-[50px] min-w-[50px] text-center">
            <input class="checkbox checkbox-sm" data-datatable-check="true" type="checkbox" />
          </th>
          <th class="min-w-[300px] uppercase">User</th>
          <th class="min-w-[180px] uppercase">Role</th>
          <th class="min-w-[80px] uppercase">
            <div class="w-full flex flex-row items-center justify-center">
              <span>Status</span>
            </div>
          </th>
          <th class="min-w-[60px] uppercase">
            <div class="w-full flex flex-row items-center justify-center">
              <span>Verified</span>
            </div>
          </th>
          <th class="min-w-[80px] uppercase">
            <div class="w-full flex flex-row items-center justify-center">
              <span>Lockout</span>
            </div>
          </th>
          <th class="min-w-[180px] uppercase">CREATED AT</th>
          <th class="w-[100px] uppercase">
            <div class="w-full flex flex-row items-center justify-center">
              <span>ACTION</span>
            </div>
          </th>
        </tr>
        </thead>
        @if(!loading){
          <tbody>
            @for (user of store.users(); track $index) {
              <tr>
                <td class="text-center">
                  <input
                    class="checkbox checkbox-sm"
                    data-datatable-row-check="true"
                    type="checkbox"
                    value="28" />
                </td>
                <td>
                  <user-info [avatar]="user.avatar"
                             [username]="user.userName ?? 'Unknown'"
                             [fullName]="user.fullName"
                             [email]="user.email">
                  </user-info>
                </td>
                <td>
                  <span class="w-full">{{ user.role }}</span>
                </td>
                <td>
                  <div class="w-full flex flex-row items-center justify-center">
                    <span>{{user.status}}</span>
                  </div>
                </td>
                <td class="text-xl">
                  <div class="w-full flex flex-row items-center justify-center">
                    @if(user.verified) {
                      <ng-icon name="check-circle" class="text-green-500"></ng-icon>
                    } @else {
                      <ng-icon name="x-circle" class="text-red-500"></ng-icon>
                    }
                  </div>
                </td>
                <td class="text-xl">
                  <div class="w-full flex flex-row items-center justify-center gap-2">
                    @if(user.lockout) {
                      <ng-icon name="check" class="text-red-500"></ng-icon>
                      <span>{{user.lockout}}</span>
                    }
                  </div>
                </td>
                <td>
                  <span [tooltip]="user.createdAt">{{user.createdAt | timeago}}</span>
                </td>

                <td>
                  <div class="w-full flex flex-row items-center justify-center text-lg gap-2">
                    @if(!user.verified) {
                      <ng-icon name="heroPaperAirplane" class="cursor-pointer" [tooltip]="'send email confirm'"
                               (click)="showSendEmailConfirmPopup(user)">
                      </ng-icon>
                    }
                    <ng-icon name="pencil-square" class="cursor-pointer"
                             (click)="showUpdateUserPopup(user)">
                    </ng-icon>
                    <ng-icon name="x-circle" class="cursor-pointer" [tooltip]="'disable user'"
                             (click)="showConfirmDisableUserPopup(user)">
                    </ng-icon>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        }
      </table>
    </div>
    <!--  FOOTER-->
    @if (loading) {
      <loading-table></loading-table>
    }
    <!--  FOOTER-->
    <pagination class="sticky bottom-0 z-10"
                (pageChange)="onChangePage($event)"
                [currentPage]="store.currentPage()"
                [totalPage]="store.totalPage()!"
    >
    </pagination>
  </div>
</div>
<!--confirm disable-->
<confirm-popup [hidden]="!store.showDisableUserPopup()"
               (cancel)="store.showDisableUserPopup.set(false)"
               (confirm)="disableUser()" [title]="'Are you sure you want to disable this user?'">
</confirm-popup>
<!--send confirm email-->
<confirm-popup [hidden]="!store.showSendEmailConfirmPopup()"
               (cancel)="store.showSendEmailConfirmPopup.set(false)"
               (confirm)="sendEmailConfirmUser()" [title]="'Are you sure you want to send a confirming email to active this account?'">
</confirm-popup>
<!--add user-->
<app-add-user-popup></app-add-user-popup>
<app-update-user-popup [user]="user"></app-update-user-popup>
