<div class="flex flex-col rounded-xl bg-background gap-4 w-full py-2">
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-3">
      <div class="flex flex-col gap-1">
        <h2 class="font-semibold text-xl">Connection details</h2>
        <p>Use this service to send notifications to your Microsoft Teams channels.</p>
      </div>
      <div class="flex flex-col gap-1">
        <span class="font-semibold">Enable integration</span>
        <div class="flex flex-row gap-2 items-center">
          <input type="checkbox" [formControl]="form.controls.active">
          <label>Active</label>
        </div>
      </div>
      <div class="flex flex-col gap-1">
        <span class="font-semibold">Webhook</span>
        <div class="flex flex-row gap-2 items-center">
          <input type="password" class="w-full" [formControl]="form.controls.webhook">
        </div>
      </div>
    </div>
    <div class="flex flex-col gap-3">
      <div class="flex flex-col gap-1">
        <h2 class="font-semibold text-xl">Notification Setting</h2>
        <p>Configure the scope of notifications.</p>
      </div>
      <div class="flex flex-col gap-1">
        <div class="flex flex-row gap-2 items-center">
          <input type="checkbox" [formControl]="form.controls.scanResultEvent">
          <label>Scan Info</label>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <input type="checkbox" [formControl]="form.controls.securityAlertEvent">
          <label>Security Alert</label>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <input type="checkbox" [formControl]="form.controls.newFindingEvent">
          <label>New Finding</label>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <input type="checkbox" [formControl]="form.controls.fixedFindingEvent">
          <label>Fixed Finding</label>
        </div>
      </div>
    </div>

  </div>
  <div class="flex flex-row gap-2 items-center">
    <button app-button type="primary" class="w-fit"
            [loading]="form.disabled"
            [disabled]="form.disabled"
            (click)="saveConfig()">Update</button>
    <button app-button type="primary" class="w-fit"
            [loading]="loadingTest"
            [disabled]="loadingTest"
            (click)="testNotification()">Test Notification</button>
  </div>

</div>
