<div class="mx-auto px-2 lg:px-6 flex flex-col pt-6 text-sm">
  <div class="font-semibold text-foreground mb-2 ml-1 text-xl">Authentication Setting</div>
  <div class="flex flex-col rounded-xl border border-border bg-background gap-4 p-4 w-full">
    <div class="flex flex-col gap-2 w-full lg:max-w-[600px]">
      <table class="w-full border-none">
        @if(authMode != 'local'){
          <tr class="w-full">
            <td class="text-nowrap font-semibold py-4">Disable Password Logon</td>
            <td class="w-full pl-6">
              <input type="checkbox" name="disablePasswordLogon" [formControl]="form.controls.disablePasswordLogon">
            </td>
          </tr>
        }
        <tr class="w-full">
          <td class="text-nowrap font-semibold py-4">Allow Register</td>
          <td class="w-full pl-6">
            <input type="checkbox" name="disablePasswordLogon" [formControl]="form.controls.allowRegister">
          </td>
        </tr>
        <tr class="w-fit">
          <td class="text-nowrap font-semibold py-4">Auth Mode</td>
          <td class="w-fit pl-6">
            <div class="w-fit">
              <dropdown class="w-fit" [options]="authOptions"
                        [(selected)]="authMode">
              </dropdown>
            </div>
          </td>
        </tr>
        @if (authMode == 'oidc') {
          <tr class="w-full">
            <td class="text-nowrap font-semibold py-4">Enable OIDC</td>
            <td class="w-full pl-6">
              <input type="checkbox" name="oidcEnable" [formControl]="form.controls.openIdConnectSetting.controls.enable!">
            </td>
          </tr>
          <tr class="w-full">
            <td class="text-nowrap font-semibold py-4">OIDC Provider</td>
            <td class="w-full pl-6">
              <input type="text" class="w-full" name="oidcProvider"
                     [formControl]="form.controls.openIdConnectSetting.controls.displayName!">
            </td>
          </tr>
          <tr class="w-full">
            <td class="text-nowrap font-semibold py-4">OIDC Authority</td>
            <td class="w-full pl-6">
              <input type="text" class="w-full" name="oidc-authority"
                     [formControl]="form.controls.openIdConnectSetting.controls.authority!">
            </td>
          </tr>
          <tr class="w-full">
            <td class="text-nowrap font-semibold py-4">OIDC Client ID</td>
            <td class="w-full pl-6">
              <input type="text" class="w-full" name="oidc-client-id"
                     [formControl]="form.controls.openIdConnectSetting.controls.clientId!">
            </td>
          </tr>
          <tr class="w-full py-10">
            <td class="text-nowrap font-semibold py-4">OIDC Client Secret</td>
            <td class="w-full pl-6">
              <div class="relative">
                <input
                  [type]="secretTextType ? 'text' : 'password'"
                  [formControl]="form.controls.openIdConnectSetting.controls.clientSecret!"
                  id="password"
                  class="peer block w-full"
                  placeholder=" "/>
                <span class="absolute top-2.5 right-5 cursor-pointer text-muted-foreground" (click)="secretTextType = !secretTextType">
                  <ng-icon [name]="secretTextType ? 'eye' : 'eye-off'"></ng-icon>
                </span>
              </div>
            </td>
          </tr>
        }
      </table>
    </div>
    <button app-button
            [loading]="form.disabled"
            [disabled]="form.disabled"
            type="primary"
            class="w-fit"
            (click)="saveConfig()">Update
    </button>
  </div>
</div>
