<div class="mx-auto flex flex-col text-sm">
  <div class="font-semibold text-foreground mb-2 ml-1 text-xl">Security Threshold</div>
  <div class="flex flex-col rounded-xl border border-border bg-background gap-4 p-4">
    <div class="flex flex-wrap gap-8 w-full">
      <div class="flex flex-col gap-2">
        <div class="text-xl">Static Application Security Testing (SAST)</div>
        <div class="flex flex-col gap-1">
          <table class="border-none w-fit">
            <tr>
              <td class="uppercase">MODE</td>
              <td class="px-4">
                <dropdown [options]="thresholdModeOptions"
                          [selected]="sastForm.controls.mode!.value"
                          [showLabel]="false"
                          (selectedChange)="changeSastMode($event)">
                </dropdown>
              </td>
            </tr>
            <tr>
              <td class="uppercase">Critical</td>
              <td class="px-4">
                <input type="number" class="max-w-20" min="0" [formControl]="sastForm.controls.critical!">
              </td>
            </tr>
            <tr>
              <td class="uppercase">High</td>
              <td class="px-4">
                <input type="number" class="max-w-20" min="0" [formControl]="sastForm.controls.high!">
              </td>
            </tr>
            <tr>
              <td class="uppercase">MEDIUM</td>
              <td class="px-4">
                <input type="number" class="max-w-20" min="0" [formControl]="sastForm.controls.medium!">
              </td>
            </tr>
            <tr>
              <td class="uppercase">LOW</td>
              <td class="px-4">
                <input type="number" class="max-w-20" min="0" [formControl]="sastForm.controls.low!">
              </td>
            </tr>
          </table>
        </div>
        <button app-button type="primary" class="w-fit" (click)="updateSastSetting()">Update</button>
      </div>
      <div class="flex flex-col gap-2">
        <div class="text-xl">Software Composition Analysis (SCA)</div>
        <div class="flex flex-col gap-1">
          <table class="border-none w-fit">
            <tr>
              <td class="uppercase">MODE</td>
              <td class="px-4">
                <dropdown [options]="thresholdModeOptions"
                          [selected]="scaForm.controls.mode!.value"
                          [showLabel]="false"
                          (selectedChange)="changeScaMode($event)">
                </dropdown>
              </td>
            </tr>
            <tr>
              <td class="uppercase">Critical</td>
              <td class="px-4">
                <input type="number" class="max-w-20" min="0" [formControl]="scaForm.controls.critical!">
              </td>
            </tr>
            <tr>
              <td class="uppercase">High</td>
              <td class="px-4">
                <input type="number" class="max-w-20" min="0" [formControl]="scaForm.controls.high!">
              </td>
            </tr>
            <tr>
              <td class="uppercase">MEDIUM</td>
              <td class="px-4">
                <input type="number" class="max-w-20" min="0" [formControl]="scaForm.controls.medium!">
              </td>
            </tr>
            <tr>
              <td class="uppercase">LOW</td>
              <td class="px-4">
                <input type="number" class="max-w-20" min="0" [formControl]="scaForm.controls.low!">
              </td>
            </tr>
          </table>
        </div>
        <button app-button type="primary" class="w-fit" (click)="updateScaSetting()">Update</button>
      </div>
    </div>
  </div>
</div>
