<div class="mx-auto px-2 lg:px-6 flex flex-row pt-6 text-sm gap-4 w-full">
  <div class="flex flex-col w-full">
    <div class="flex flex-wrap w-full p-4 gap-2 items-center justify-between border-border border">
      <div class="flex flex-row items-center gap-2">
        <!--SEARCH-->
        <div class="flex w-full md:max-w-80">
          <label class="relative text-muted-foreground w-full">
            <div class="absolute left-2.5 top-2.5">
              <ng-icon name="search"></ng-icon>
            </div>
            <input class="py-2 pl-8 pr-2"
                   placeholder="Search..." type="text"
                   [(ngModel)]="findingStore.filter.name"
                   (keyup.enter)="onSearchChange()"/>
          </label>
        </div>
        <git-branch-dropdown [options]="findingStore.branches()"
                             [selected]="findingStore.filter.branch"
                             (select)="onSelectBranch($event)">
        </git-branch-dropdown>
        <finding-status-filter
          [status]="findingStore.filter.status"
          (statusChange)="onStatusChange($event)">
        </finding-status-filter>
      </div>
      <div class="flex flex-row items-center gap-2">
<!--        <dropdown defaultLabel="Export" [options]="[]"></dropdown>-->
        <finding-status [fixedLabel]="'Mark as'" (statusChange)="onMarkAs($event)">
        </finding-status>
        <div class="flex items-center cursor-pointer px-4 py-2 rounded bg-background border border-border"
             (click)="onReload()">
          <ng-icon name="reload"></ng-icon>
        </div>
      </div>
    </div>
    <list-finding class="w-full"
                  [loading]="findingStore.loading()"
                  [findings]="findingStore.findings()"
                  (selectFindings)="selectFindingsChange($event)"
                  (openFinding)="onOpenFinding($event)">
    </list-finding>
    <pagination class="sticky bottom-0"
                (pageChange)="onPageChange($event)"
                [currentPage]="findingStore.currentPage()"
                [totalPage]="findingStore.totalPage()">
    </pagination>
  </div>
  <div class="hidden lg:block w-[800px] overflow-x-auto">
    @if(finding != null) {
      <finding-detail
        [isProjectPage]="true"
        (close)="closeFinding()"
        [finding]="finding">
      </finding-detail>
    } @else {
      <div class="flex flex-col items-center justify-center h-[720px] w-full">
        @if (loadingFinding) {
          <ng-icon name="spin" class="animate-spin" size="24"></ng-icon>
        } @else {
          <ng-icon name="click" size="24"></ng-icon>
          <div>Select vulnerability to see its details.</div>
        }
      </div>
    }
  </div>
</div>
