<div class="flex flex-col items-center">
  <button
    (click)="hidden = !hidden"
    (clickOutside)="hidden = true"
    class="flex flex-row items-center gap-1 rounded-md px-3 py-1.5 font-semibold w-fit">
    @if(selected) {
      <div class="flex flex-row items-center gap-2 text-[#00c869]">
        <ng-icon name="git-branch"></ng-icon>
        <span>{{selected}}</span>
      </div>
    } @else {
      <span>Branch</span>
    }
    <ng-icon name="next" class="rotate-90"></ng-icon>
  </button>
  <!-- Dropdown menu -->
  <div [class.hidden]="hidden" class="z-10 absolute mt-10 rounded-lg shadow w-fit border border-border bg-background">
    <ul class="py-2">
      @for(option of options(); track $index) {
        <li
          (click)="onClick(option)"
          [ngClass]="option == selected ?  'bg-gray-100 dark:bg-card' : ''"
          class="cursor-pointer mx-2 px-2 py-1 rounded bg-background placeholder-muted-foreground hover:bg-gray-100 dark:hover:bg-card">
          <div class="flex flex-row items-center gap-2 text-[#00c869]">
            <ng-icon name="git-branch"></ng-icon>
            <span>{{option}}</span>
          </div>
        </li>
      }
    </ul>
  </div>
</div>
