<div class="mx-auto px-2 lg:px-6 flex flex-col pt-6 text-sm gap-4">
  <div class="flex flex-col overflow-hidden w-full border border-white/5 gap-4 rounded-xl bg-background p-6">
    <div class="flex w-full items-center">
      <div class="flex flex-col font-normal">
        <div class="flex flex-row items-center gap-1">
          <div>You have</div>
          @if(statisticLoading) {
            <ng-icon name="spin" class="animate-spin"></ng-icon>
          } @else {
            <a class="font-bold text-primary hover:underline hover:underline-offset-4"
               [routerLink]="['/project', projectStore.slug(), 'finding']"
               [queryParams]="{'status': 'Open'}">
              {{statistic.openFinding}}
            </a>
          }
          <div>open vulnerabilities.</div>
        </div>
<!--        <div class="flex gap-4">No new vulnerabilities detected last week!</div>-->
      </div>
    </div>
    <div class="flex flex-wrap">
      @if(statisticLoading) {
        <loading-table [row]="5"></loading-table>
      } @else {
        <div class="flex flex-col items-center gap-4">
          <div class="font-semibold">Static Application Security Testing (SAST)</div>
          <div class="flex flex-wrap gap-4">
            <div severity-chart [severity]="statistic.severitySast"></div>
            <finding-status-chart [status]="statistic.statusSast"></finding-status-chart>
          </div>
        </div>
        <div class="flex flex-col items-center gap-4">
          <div class="font-semibold">Software Composition Analysis (SCA)</div>
          <div class="flex flex-wrap gap-4">
            <div severity-chart [severity]="statistic.severitySca"></div>
            <finding-status-chart [status]="statistic.statusSca"></finding-status-chart>
          </div>
        </div>
      }
    </div>
  </div>
  <!--  SCANS-->
  <div class="flex min-w-full flex-col rounded-xl border border-muted/20 bg-background">
    <!--    FILTER-->
    <div class="flex flex-col py-3 px-5">
      <div class="flex flex-row gap-2 w-full ">
        <!--SEARCH-->
        <div class="flex w-full md:max-w-80">
          <label class="relative text-muted-foreground w-full">
            <div class="absolute left-2.5 top-2.5">
              <ng-icon name="search"></ng-icon>
            </div>
            <input class="py-2 pl-8 pr-2" placeholder="Search..." type="text"
                   (keyup.enter)="onSearchChange()"/>
          </label>
        </div>
        <!--STATUS-->

<!--        <dropdown defaultLabel="Status"-->
<!--                  (onSelect)="onStatusChange($event)"-->
<!--                  [options]="statuOptions">-->
<!--        </dropdown>-->
      </div>
    </div>
    <!--    TABLE-->
    <div class="overflow-x-auto">
      <table
        class="table w-full min-w-[1024px] table-auto border-collapse border-0 text-left align-middle leading-5 text-muted-foreground">
        <thead class="border border-muted/20 text-xs text-muted-foreground">
        <tr>
          <th class="w-[50px] min-w-[50px] text-center">
            <input class="checkbox checkbox-sm" data-datatable-check="true" type="checkbox"/>
          </th>
          <th>
            <div class="flex flex-row items-center gap-1">
              <span>SCAN</span>
            </div>
          </th>
          <th>
            <div class="flex flex-row items-center gap-1">
              <span>SCANNER</span>
            </div>
          </th>
          <th>
            <div class="flex flex-row items-center gap-1">
              <span>TYPE</span>
            </div>
          </th>
          <th>
            <div class="flex flex-row items-center gap-1">
              <span>STATUS</span>
            </div>
          </th>
          <th>
            <div class="flex flex-row items-center gap-1">
              <span>FINDING</span>
            </div>
          </th>
          <th>
            <div class="flex flex-row items-center gap-1 w-10">
              <span>LAST SCAN</span>
            </div>
          </th>
          <th class="max-w-10">
            DURATION
          </th>
          <th class="max-w-10">ACTION</th>
        </tr>
        </thead>
        @if(!loading) {
          <tbody>
            @for (scan of response.items; track scan.id) {
              <tr>
                <td class="text-center">
                  <input
                    class="checkbox checkbox-sm"
                    data-datatable-row-check="true"
                    type="checkbox"
                    value="28"/>
                </td>
                <td>
                  <a [routerLink]="['/project', slug, 'finding']"
                     [queryParams]="{'commitId': scan.commitId, 'scanner': scan.scanner, 'type': scan.type}"
                     class="flex flex-col gap-1">
                    <div class="">{{scan.commitTitle}}</div>
                    <scan-branch [action]="scan.gitAction ?? GitAction.CommitBranch"
                                 [branch]="scan.commitBranch ?? ''"
                                 [targetBranch]="scan.targetBranch">
                    </scan-branch>
                  </a>
                </td>
                <td>{{ scan.scanner }}</td>
                <td class="lowercase">{{ scan.type }}</td>
                <td>
                  <scan-status [status]="scan.status ?? ScanStatus.Error">
                  </scan-status>
                </td>
                <td>
                  <div
                    class="mr-4 font-mono text-xs rounded-md overflow-hidden gap-1 shadow-sm shadow-black/20 h-[28px] flex items-stretch">
                    <p
                      class="flex-1 text-center bg-rose-600/20 text-rose-500 flex items-center justify-center opacity-100">
                      {{scan.severityCritical}}
                    </p>
                    <p
                      class="flex-1 text-center bg-orange-600/20 text-orange-500 flex items-center justify-center opacity-100">
                      {{scan.severityHigh}}
                    </p>
                    <p
                      class="flex-1 text-center bg-yellow-600/20 text-yellow-500 flex items-center justify-center opacity-100">
                      {{scan.severityMedium}}
                    </p>
                    <p
                      class="flex-1 text-center bg-indigo-500/20 text-indigo-400 flex items-center justify-center opacity-100">
                      {{scan.severityLow}}
                    </p>
                    <p
                      class="flex-1 text-center bg-green-500/20 text-green-400 flex items-center justify-center opacity-100">
                      {{scan.severityInfo}}
                    </p>
                  </div>
                </td>
                <td>
                  <div class="text-[#00c869]">
                    <span [tooltip]="scan.startedAt">{{ scan.startedAt | timeago }}</span>

                  </div>
                </td>
                <td>{{duration(scan.startedAt, scan.completedAt)}}</td>
                <td>
                  <div class="flex flex-row items-center gap-2">
                    <a class="cursor-pointer"
                       [routerLink]="['/project', slug, 'finding']" [queryParams]="{'scanId': scan.id, 'branch': scan.commitBranch}">
                      <ng-icon name="external-link" size="18"></ng-icon>
                    </a>
                    <a class="cursor-pointer" [href]="scan.jobUrl" target="_blank">
                      <ng-icon name="command-line" size="20"></ng-icon>
                    </a>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        }
      </table>
    </div>
    @if (loading) {
      <div class="flex flex-col animate-pulse w-full gap-0.5">
        <div class="h-12 bg-gray-200 dark:bg-gray-700/40"></div>
        <div class="h-12 bg-gray-200 dark:bg-gray-700/40"></div>
        <div class="h-12 bg-gray-200 dark:bg-gray-700/40"></div>
        <div class="h-12 bg-gray-200 dark:bg-gray-700/40"></div>
        <div class="h-12 bg-gray-200 dark:bg-gray-700/40"></div>
        <div class="h-12 bg-gray-200 dark:bg-gray-700/40"></div>
        <div class="h-12 bg-gray-200 dark:bg-gray-700/40"></div>
        <div class="h-12 bg-gray-200 dark:bg-gray-700/40"></div>
        <div class="h-12 bg-gray-200 dark:bg-gray-700/40"></div>
      </div>
    }
    <!--  FOOTER-->
    <pagination class="sticky bottom-0 z-10"
                [currentPage]="response.currentPage!"
                [totalPage]="response.pageCount!"
    ></pagination>
  </div>
</div>
