<div class="flex flex-col gap-4 w-full">
  <div class="flex flex-col border-b border-border pb-4 gap-4">
    <div class="flex flex-row items-center w-full gap-2">
      <finding-severity [severity]="finding.severity!"></finding-severity>
      <div class="text-xl">{{ finding.name }}</div>
    </div>
    <div class="flex flex-row items-center justify-between">
      <div class="flex flex-row items-center gap-4">
        <div class="flex flex-wrap items-center gap-2">
          <span class="font-semibold whitespace-nowrap">On {{ finding.scans?.length }} branch</span>
          <finding-scan-dropdown
            [options]="finding.scans ?? []"
            (selectChange)="onScanChange($event)"
            [selected]="currentScan?.scanId">
          </finding-scan-dropdown>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <ng-icon [name]="finding.project?.source! | lowercase"></ng-icon>
          <a [routerLink]="['/project', finding.project?.projectSlug, 'scan']" class="hover:underline">{{finding.project?.projectName}}</a>
        </div>
      </div>
      @if (minimal) {
        <div class="flex-row gap-2 items-center hidden lg:flex">
          <a [routerLink]="['/finding', finding.id]">
            <ng-icon name="detail" size="18" class="cursor-pointer"></ng-icon>
          </a>
          <div class="shrink-0 bg-border w-[1px] h-5 text-muted"></div>
          <ng-icon
            (click)="closeFinding()"
            name="x" size="18"
            class="cursor-pointer"></ng-icon>
        </div>
      }
    </div>
    <div class="flex flex-row items-center gap-2">
      <finding-status
        [status]="finding.status!"
        (statusChange)="onChangeStatus($event)">
      </finding-status>
    </div>
  </div>
  <div class="flex gap-4 w-full" [ngClass]="minimal ? 'flex-col' : 'flex-row'">
    <div class="flex flex-col gap-4 w-full border border-border p-4 h-fit">
      @if (finding.location) {
        <div class="flex flex-col gap-2">
          <div class="font-semibold">Found at</div>
          <a [href]="source(finding.location)" target="_blank" class="flex flex-row items-center gap-1">
            <span>{{ finding.location.path }}</span>
            <ng-icon name="external-link"></ng-icon>
          </a>
          @if(finding.location.snippet) {
            <div class="block rounded border border-border bg-background p-2 items-center">
              <div>{{ finding.location.snippet}}</div>
            </div>
          }
        </div>
      }
      @if (finding.description) {
        <div class="flex flex-col gap-2">
          <div class="font-semibold">Description</div>
          <div class="block rounded border border-border bg-background p-2 items-center">
            <div markdown>{{ finding.description }}</div>
          </div>
        </div>
      }
      @if (finding.recommendation) {
        <div class="flex flex-col gap-2">
          <div class="font-semibold">Recommendation</div>
          <div class="block rounded border border-border bg-background p-2 items-center">
            <div markdown>{{ finding.recommendation }}</div>
          </div>
        </div>
      }
      @if (findingFlow(finding).length > 0) {
        <div class="flex flex-col gap-2">
          <div class="font-semibold">Finding Flow</div>
          <div class="flex flex-col justify-between items-center">
            @for (location of findingFlow(finding); track $index; let isLast = $last) {
              <a class="flex items-center justify-center bg-blue-100 px-2 py-1 dark:bg-blue-900 cursor-pointer" target="_blank" [href]="source(location)">
                {{location.snippet}}
              </a>
              @if (!isLast) {
                <div class="bg-primary w-0.5 h-10"></div>
              }
            }
          </div>
        </div>
      }
    </div>
    <!--    ACTIVITIES-->
    <div class="flex flex-col gap-2"
         [ngClass]="minimal ? '' : 'min-w-[550px]'">
      <div class="flex flex-col rounded border border-border p-4 gap-2">
        <div class="font-semibold">Activity</div>
        <div class="flex flex-col overflow-y-auto max-h-96">
          <ol class="relative border-s border-border ml-5">
            @for (activity of activities; track $index) {
              <li class="mt-10 ms-6">
                @if(activity.username) {
                  <div class="absolute -start-5">
                    <avatar [text]="activity.username"
                            [size]="38"
                            [src]="activity.avatar ?? undefined">
                    </avatar>
                  </div>
                } @else {
                  <span class="absolute flex items-center justify-center w-6 h-6 bg-blue-100 rounded-full -start-3 dark:bg-blue-900">
                    <ng-icon [name]="activity.type == FindingActivityType.Open ? 'clock' : activity.type == FindingActivityType.ChangeStatus ? 'open' : 'open'"></ng-icon>
                  </span>
                }
                <div class="flex flex-row items-center justify-between gap-2 mb-1">
                  <div class="flex flex-row items-center gap-2">
                    @if(activity.username) {
                      <span class="font-semibold">{{activity.username}}</span>
                    } @else {
                      <span class="font-semibold">system</span>
                    }
                  </div>
                  <time class="block text-xs" [tooltip]="activity.createdAt">{{activity.createdAt | timeago}}</time>
                </div>
                <div class="flex flex-row items-center gap-2">
                  @if (activity.type == FindingActivityType.ChangeStatus) {
                    <span>change status</span>
                    <div class="flex flex-row items-center gap-2">
                      <div class="flex flex-row items-center gap-2">
                        <finding-status-label [ngClass]="'px-1 py-0.5 border border-border'"
                                              [status]="activity.metadata?.changeStatus?.previousStatus">
                        </finding-status-label>
                        <span>to</span>
                        <finding-status-label [ngClass]="'px-1 py-0.5 border border-border'"
                                              [status]="activity.metadata?.changeStatus?.currentStatus">
                        </finding-status-label>
                        @if(activity.metadata?.scanInfo) {
                          <span>on</span>
                          <scan-branch [action]="activity.metadata?.scanInfo?.action ?? GitAction.CommitBranch"
                                       [branch]="activity.metadata?.scanInfo?.branch ?? ''"
                                       [targetBranch]="activity.metadata?.scanInfo?.targetBranch">
                          </scan-branch>
                        }
                      </div>
                    </div>
                  } @else {
                    <div class="flex flex-row items-center gap-1">
                      @if(activity.type == FindingActivityType.Open) {
                        <span>first seen</span>
                      } @else if (activity.type == FindingActivityType.Fixed) {
                        <finding-status-label [status]="FindingStatus.Fixed"></finding-status-label>
                      } @else if (activity.type == FindingActivityType.Reopen) {
                        <span>seen again</span>
                      }
                      @if(activity.metadata?.scanInfo) {
                        <span>on</span>
                        <scan-branch [action]="activity.metadata?.scanInfo?.action ?? GitAction.CommitBranch"
                                     [branch]="activity.metadata?.scanInfo?.branch ?? ''"
                                     [targetBranch]="activity.metadata?.scanInfo?.targetBranch">
                        </scan-branch>
                      } @else {
                        <span>unknown</span>
                      }
                    </div>
                  }
                </div>
                @if(activity.comment) {
                  <p>{{activity.comment}}</p>
                }
              </li>
            }
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
