<div class="mx-auto px-2 lg:px-6 flex flex-col pt-6 text-sm">
  <div class="font-semibold text-foreground mb-2 ml-1 text-xl">Projects</div>
  <div class="flex min-w-full flex-col rounded-xl border border-border bg-background">
    <!--    FILTER-->
    <div class="flex flex-col py-3 px-5">
      <div class="flex flex-row gap-2 w-full ">
        <div class="flex w-full md:max-w-80">
          <label class="relative text-muted-foreground w-full">
            <div class="absolute left-2.5 top-2.5">
              <ng-icon name="heroMagnifyingGlass"></ng-icon>
            </div>
            <input class="py-2 pl-8 pr-2 w-full" placeholder="Search..." type="text" [(ngModel)]="filter.Name" (keyup.enter)="onSearchChange()"/>
          </label>
        </div>
        <div class="flex flex-row space-x-2 items-center">
          <dropdown [options]="sorts"
                    [selected]="filter.SortBy"
                    (selectedChange)="onSortChange($event)">
            <span class="font-semibold" dropdown-label>Sort By</span>
          </dropdown>
          <ng-icon [name]="filter.Desc ? 'desc' : 'asc'" class="cursor-pointer" size="16" (click)="onOrderChange()"></ng-icon>
        </div>
      </div>
      <div class="mt-3 px-1 py-1 whitespace-nowrap">Displaying {{response.items?.length}} in <span class="font-bold">{{ response.count }}</span> results</div>
    </div>
    <!--    TABLE-->
    <div class="overflow-x-auto">
      <table
        class="table w-full table-auto border-collapse border-0 text-left align-middle leading-5 text-muted-foreground">
        <thead class="border-t border-border text-xs text-muted-foreground">
        <tr>
          <th class="w-[50px] min-w-[50px] text-center">
            <input class="checkbox checkbox-sm" data-datatable-check="true" type="checkbox" />
          </th>
          <th class="min-w-[300px]">PROJECT</th>
          <th class="min-w-[180px]">FINDING</th>
          <th class="min-w-[180px]">CREATED AT</th>
          <th class="w-[60px]"></th>
        </tr>
        </thead>
        @if(!loading){
          <tbody>
            @for (project of response.items; track $index) {
              <tr>
                <td class="text-center">
                  <input
                    class="checkbox checkbox-sm"
                    data-datatable-row-check="true"
                    type="checkbox"
                    value="28" />
                </td>
                <td>
                  <a [routerLink]="['/project', project.id, 'scan']" class="flex flex-row items-center gap-2">
                    <ng-icon [name]="sourceIcon(project.sourceType)"></ng-icon>
                    <span class="w-full">{{ project.name }}</span>
                  </a>
                </td>
                <td>
                  <div class="mr-4 font-mono text-xs rounded-md overflow-hidden gap-1 shadow-sm shadow-black/20 h-[28px] flex items-stretch">
                    <p class="flex-1 text-center bg-rose-600/20 text-rose-500 flex items-center justify-center opacity-100">
                      {{project.severityCritical}}
                    </p>
                    <p class="flex-1 text-center bg-orange-600/20 text-orange-500 flex items-center justify-center opacity-100">
                      {{project.severityHigh}}
                    </p>
                    <p class="flex-1 text-center bg-yellow-600/20 text-yellow-500 flex items-center justify-center opacity-100">
                      {{project.severityMedium}}
                    </p>
                    <p class="flex-1 text-center bg-indigo-500/20 text-indigo-400 flex items-center justify-center opacity-100">
                      {{project.severityLow}}
                    </p>
                    <p class="flex-1 text-center bg-green-500/20 text-green-400 flex items-center justify-center opacity-100">
                      {{project.severityInfo}}
                    </p>
                  </div>
                </td>
                <td>
                  <div class="font-semibold text-[#00c869]">
                    <span [tooltip]="project.createdAt">{{ project.createdAt | timeago }}</span>
                  </div>
                </td>

                <td></td>
              </tr>
            }
          </tbody>
        }
      </table>
    </div>
    <!--  FOOTER-->
    @if (loading) {
      <loading-table></loading-table>
    }
    <!--  FOOTER-->
    <pagination class="sticky bottom-0 z-10"
                (pageChange)="onChangePage($event)"
                [currentPage]="response.currentPage!"
                [totalPage]="response.pageCount!"
    >
    </pagination>
  </div>
</div>
