<div class="flex flex-col rounded-xl bg-background gap-4 w-full">
  <div class="flex flex-col gap-2 w-full">
    <div class="flex flex-row gap-2 w-full items-center">
      <span class="w-36 md:w-48">Enable</span>
      <div class="w-full max-w-md">
        <p-toggle-switch [formControl]="form.controls.active!"></p-toggle-switch>
      </div>
    </div>
    <div class="flex flex-row gap-2 w-full items-center">
      <span class="w-36 md:w-48">Receiver</span>
      <div class="flex flex-col gap-1">
        @for (email of receiver; track $index) {
          <div class="w-full max-w-md flex flex-row items-center gap-2">
            <input pInputText type="email" class="w-full" [(ngModel)]="receiver[$index]" placeholder="Email address">
            <ng-icon name="trash" class="cursor-pointer" (click)="deleteReceiver(receiver[$index])"></ng-icon>
          </div>
        }
        <p-button severity="secondary" (click)="addEmail()" label="Add another"/>
      </div>
    </div>
    <div class="flex flex-row gap-2 w-full">
      <span class="w-36 md:w-48">Event</span>
      <div class="flex flex-col gap-1">
        <div class="flex flex-row gap-2 items-center">
          <p-toggle-switch [formControl]="form.controls.scanCompletedEvent!"></p-toggle-switch>
          <label>Scan Completed</label>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <p-toggle-switch [formControl]="form.controls.scanFailedEvent!"></p-toggle-switch>
          <label>Scan Failed</label>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <p-toggle-switch [formControl]="form.controls.securityAlertEvent!"></p-toggle-switch>
          <label>Security Alert</label>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <p-toggle-switch [formControl]="form.controls.newFindingEvent!"></p-toggle-switch>
          <label>New Finding</label>
        </div>
        <div class="flex flex-row gap-2 items-center">
          <p-toggle-switch [formControl]="form.controls.fixedFindingEvent!"></p-toggle-switch>
          <label>Fixed Finding</label>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-row gap-2 items-center">
    <button pButton severity="primary"
            [loading]="form.disabled"
            [disabled]="form.disabled"
            (click)="saveConfig()">Update
    </button>
  </div>
</div>
