<div class="flex flex-row items-start">
  <div class="relative w-full">
    <div class="overflow-x-auto">
      <table>
        <thead>
        <tr>
          <th class="sticky left-0 bg-background">
            <div class="flex flex-row items-center gap-1 w-[20rem]">
              <span>HOST</span>
              <ng-icon name="up-down" size="14"></ng-icon>
            </div>
          </th>
          <th>
            <div class="flex flex-row items-center gap-1 w-[10rem] justify-center ">
              <span>PORT</span>
              <ng-icon name="up-down" size="14"></ng-icon>
            </div>
          </th>
          <th>
            <div class="flex flex-row items-center gap-1 justify-center">
              <span>IP</span>
              <ng-icon name="up-down" size="14"></ng-icon>
            </div>
          </th>
          <th>
            <div class="flex flex-row items-center gap-1 w-[12rem] justify-center">
              <span>TECHNOLOGIES</span>
              <ng-icon name="up-down" size="14"></ng-icon>
            </div>
          </th>
          <th>
            <div class="flex flex-row items-center gap-1 w-[6rem] justify-center">
              <span>STATUS</span>
              <ng-icon name="up-down" size="14"></ng-icon>
            </div>
          </th>
          <th>
            <div class="flex flex-row items-center gap-1 w-[10rem] justify-center">
              <span>TITLE</span>
              <ng-icon name="up-down" size="14"></ng-icon>
            </div>
          </th>
          <th>
            <div class="flex flex-row items-center gap-1 w-[12rem] justify-center">
              <span>CNAME</span>
              <ng-icon name="up-down" size="14"></ng-icon>
            </div>
          </th>
          <th>
            <div class="flex flex-row items-center gap-1 justify-center w-[6rem]">
              <span>CONTENT LENGTH</span>
              <ng-icon name="up-down" size="14"></ng-icon>
            </div>
          </th>
          <th>
            <div class="flex flex-row items-center gap-1 w-[6rem] justify-center">
              <span>CREATED AT</span>
              <ng-icon name="up-down" size="14"></ng-icon>
            </div>
          </th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="group">
          <td class="group-hover:bg-card sticky left-0 z-10 group-hover:z-10 bg-background">
            <div class="w-full px-4 relative flex item-centers gap-2 truncate" title="bgapi.vps.com.vn">
              <div class="flex justify-center flex-col items-center w-6 h-6 rounded-sm bg-card border border-border">
                <ng-icon name="home" size="14"  class=""></ng-icon>
              </div>
              <span title="bgapi.vps.com.vn"
                    class="relative flex flex-row items-center gap-3 cursor-pointer"><span
                title="bgapi.vps.com.vn" class="max-w-[16rem] truncate">bgapi.vps.com.vn</span></span>
              <div class="w-max h-max mt-2 cursor-pointer">
                <ng-icon name="media" size="14"></ng-icon>
              </div>
              <button class="cursor-pointer rounded transition-colors duration-200 ease-in-out -ml-1 hidden group-hover:block">
                <ng-icon name="copy" size="16"></ng-icon>
              </button>
              <div class="absolute right-3 items-center gap-4 font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 px-2 py-[0.1rem] rounded-md bg-card/70 border border-border text-[#00c869]"
                >6d ago
              </div>
            </div>
          </td>
          <td class="group-hover:bg-muted/20">
            <div class="flex items-center justify-center">
              <div class="relative flex items-center">
                <div class="rounded-md px-2 py-[0.1rem] cursor-pointer flex flex-row items-center justify-between bg-card truncate border border-border">
                  <span>443</span>
                </div>
                <button class="rounded transition-colors duration-200 ease-in-out absolute -right-6 cursor-pointer hidden group-hover:inline">
                  <ng-icon name="copy" size="16"></ng-icon>
                </button>
              </div>
            </div>
          </td>
          <td class="group-hover:bg-muted/20">
            <div class="flex items-center justify-center">
              <button data-state="closed">
                <div class="relative flex items-center">
                  <div class="rounded-md px-2 py-[0.1rem] flex flex-row items-center justify-center bg-card truncate border border-border">
                    <span>103.131.78.51</span>
                  </div>
                  <button class="rounded transition-colors duration-200 ease-in-out absolute -right-6 cursor-pointer hidden group-hover:inline">
                    <ng-icon name="copy" size="16"></ng-icon>
                  </button>
                </div>
              </button>
            </div>
          </td>
          <td class="group-hover:bg-muted/20">
            <div class="flex items-center justify-center">
              <div class="flex flex-row items-center gap-2 w-[full] cursor-pointer">
                <div class="rounded-md w-max flex flex-row items-center truncate select-text border cursor-pointer"
                     style="border-color: rgba(46, 100, 179, 0.5);">
                  <div class="px-[0.3rem] flex flex-row items-center h-[1.8rem]">
                    <img alt="visible-tech-icon-jQuery:3.2.1" loading="lazy" width="12" height="12" decoding="async" data-nimg="1"
                         class="h-[1.2rem] my-[0.1rem] w-[1.3rem] bg-transparent"
                    src="https://storage.googleapis.com/pdcp-assets-dev/icons/jQuery.svg">
                  </div>
                </div>
                <button>
                  <div class="flex flex-row items-center bg-card font-semibold py-[0.2rem] px-[0.4rem] rounded-full border border-border">
                    <span>+2</span>
                  </div>
                </button>
              </div>
            </div>
          </td>
          <td class="group-hover:bg-muted/20">
            <div class="flex items-center justify-center gap-2">
              <div class="flex items-center justify-center">
                <div class="rounded-md flex flex-row items-center px-2 py-[0.1rem] truncate bg-green-500/20 text-green-400">
                  200
                </div>
              </div>
            </div>
          </td>
          <td class="group-hover:bg-muted/20">
            <div class="flex items-center justify-center relative">
              <div class="relative flex items-center">
                <div class="rounded-md px-2 max-w-[13rem] flex flex-row items-center justify-between truncate">
                  <span>VPS SmartPro – Nền tảng đầu tư xu hướng vượt trội</span>
                </div>
                <button class="rounded transition-colors duration-200 ease-in-out absolute -right-6 cursor-pointer hidden group-hover:inline">
                  <ng-icon name="copy" size="16"></ng-icon>
                </button>
              </div>
            </div>
          </td>
          <td class="group-hover:bg-muted/20">
            <div class="flex items-center justify-center">--</div>
          </td>
          <td class="group-hover:bg-muted/20">
            <div class="flex items-center justify-center relative">
              <div class="relative flex items-center">
                <div
                  class="rounded-md px-2 flex flex-row items-center justify-between truncate">
                  <span>19958</span>
                </div>
                <button class="rounded transition-colors duration-200 ease-in-out absolute -right-6 cursor-pointer hidden group-hover:inline">
                  <ng-icon name="copy" size="16"></ng-icon>
                </button>
              </div>
            </div>
          </td>
          <td class="group-hover:bg-muted/20">
            <div class="flex items-center justify-center rounded-full truncate" title="2024-08-06T16:12:20.342202Z">6d ago</div>
          </td>
          <td class="group-hover:bg-muted/20">
            <div class="flex items-center justify-center">
              <button>
                <button class="inline-flex items-center justify-center rounded-md font-medium transition-all focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-ring disabled:pointer-events-none disabled:opacity-50">
                  <ng-icon name="ellipsis-vertical" size="18"></ng-icon>
                </button>
              </button>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<pagination class="sticky bottom-0 z-10 text-sm"></pagination>
