@if (ticket) {
  <div class="flex flex-row items-center gap-2 rounded border border-border bg-background px-3 text-sm w-fit text-nowrap cursor-pointer">
    <a class="flex flex-row items-center gap-2" target="_blank" [href]="ticket.url">
      <ng-icon [name]="ticketIcon(ticket)" size="20"></ng-icon>
      <span class="my-2 text-xs font-semibold">{{ticket.name}}</span>
    </a>
    <ng-icon name="trash" (click)="deleteTicket()" class="text-primary"></ng-icon>
  </div>
} @else {
  <div class="flex flex-col w-fit" (clickOutside)="hidden = true">
    <button (click)="hidden = !hidden"
            class="flex flex-row items-center gap-2 rounded border border-border px-3 w-fit text-nowrap cursor-pointer">
      <div class="flex flex-row items-center gap-2 my-2">
        @if(loading) {
          <ng-icon name="spin" class="animate-spin"></ng-icon>
        } @else {
          <ng-icon name="heroFlag"></ng-icon>
        }
        <span class="font-semibold">Ticket</span>
        <ng-icon name="heroChevronDown"></ng-icon>
      </div>
    </button>
    <!-- Dropdown menu -->
    <div [class.hidden]="hidden" class="z-10 absolute mt-10 rounded shadow w-fit border border-border bg-background">
      <ul class="py-2 flex flex-col gap-1 max-h-60 overflow-y-auto">
        @if(issueTracker.get(TicketType.Jira)) {
          <div (click)="createTicket(TicketType.Jira)" class="flex flex-row items-center gap-1 hover:bg-gray-100 dark:hover:bg-gray-900/70 mx-1 rounded cursor-pointer px-2 py-1 bg-background placeholder-muted-foreground">
            <ng-icon name="jira" size="20"></ng-icon>
            <span>JIRA</span>
          </div>
        }
        <div class="flex flex-row items-center gap-2 w-full px-4 py-2 border-t border-border cursor-pointer"
             routerLink="/setting/integration">
          <ng-icon name="plugin"></ng-icon>
          <span>Add Integration</span>
        </div>
      </ul>
    </div>
  </div>
}

<confirm-popup [hidden]="!showConfirmPopup"
               (cancel)="showConfirmPopup = false"
               (confirm)="confirmDelete()">
</confirm-popup>
