<div class="flex flex-col items-center">
  <button
    (click)="hidden = !hidden"
    (clickOutside)="hidden = true"
    class="flex flex-row items-center gap-1 rounded-md px-3 py-2 font-semibold w-fit">
    @if(selectedOption) {
      <div class="flex flex-row items-center text-nowrap gap-2 text-[#00c869]">
        <ng-icon [name]="getIcon(selectedOption.action)"></ng-icon>
        <span>{{selectedOption.branch}}</span>
        @if(selectedOption.action == GitAction.MergeRequest) {
          <span class="text-muted-foreground">to</span>
          <span>{{selectedOption.targetBranch}}</span>
        }
      </div>
    } @else {
      <span>Branch</span>
    }
    <ng-icon name="next" class="rotate-90"></ng-icon>
  </button>
  <!-- Dropdown menu -->
  <div [class.hidden]="hidden" class="z-10 absolute mt-10 rounded-lg shadow w-fit border border-border bg-background">
    <ul class="py-2">
      @for(option of options; track $index) {
        <li
          (click)="onClick(option)"
          [ngClass]="option.scanId == selectedOption?.scanId ?  'bg-gray-100 dark:bg-card' : ''"
          class="cursor-pointer mx-2 px-2 py-1 rounded bg-background placeholder-muted-foreground hover:bg-gray-100 dark:hover:bg-card">
          <div class="flex flex-row items-center gap-2 text-[#00c869]">
            <ng-icon [name]="getIcon(option.action)"></ng-icon>
            <span>{{option.branch}}</span>
            @if(option.action == GitAction.MergeRequest) {
              <span class="text-muted-foreground">to</span>
              <span>{{option.targetBranch}}</span>
            }
          </div>
        </li>
      }
    </ul>
  </div>
</div>
